/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corPrincipal:  #f5f5f5;
    --corSegundario: #0A243E;
    --corHover: #13406e;
    --corText: #D8E5F5;
    --corText2: #353535;
}

body {
   font-family: 'Segoe UI', Verdana, sans-serif;
   line-height: 1.6;
   background-color: var(--corPrincipal);
   color: var(--corSegundario);
}

/* Barra de Navegação */
.cabecalho {
    background-color: var(--corSegundario);
    color: var(--corText);
    padding: 1rem 0;
}

.logo {
    width: 150px;
}

/* Banner */
.container {
    width: 80%;
    margin: 0 auto;
}

.cabecalho .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.menu li a{
    color: #FFFFFF;
    text-decoration: none;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh; /*Ocupa toda a altura da janela*/
    overflow: hidden; /* O overflow é recortado e o restante do conteúdo fica invisível */
    display: flex;
    color: var(--corText);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner .box-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Garante que o vídeo fique atrás do conteúdo */
}

.banner .box-video video {
    width: 100%;
    height: 90%;
    object-fit: cover; /* Garante que o vídeo cubra toda a área da tela sem distorcer */
    object-position: center; /* Redimensione uma imagem para caber em sua caixa de conteúdo e posicione a imagem */
}

.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgb(0, 0, 0, 0.6); /* Cor preta com transparência */
    
}

.banner .container {
    position: absolute;
    max-width: 600px;
    text-align: left;
}

.banner .container h2{
    font-size: 3rem;
    margin-top: 10px;
}

.banner .container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.banner .container .botao {
    display: inline-block;
    padding: 0.75rem 1.6rem;
    background-color: var(--corSegundario);
    text-decoration: none;
    color: var(--corText);
    border-radius: 0.5rem;
    transition: background 0.3s ease;
    font-size: 1.5rem;
}

.banner .container .botao:hover {
    background-color: var(--corHover);
    cursor: pointer;
    transform: scale(1.1);
}

/* Sobre */
.sobre {
    padding: 2.5rem 1.25rem;
    height: 100vh;
}

.sobre .container {
    max-width: 68rem;
    margin: 0 auto;
}

.sobre .container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--corSegundario);
}

/* Coluna Dupla */
.sobre .container .sobre-conteudo {
    display: flex;
    flex-wrap: wrap; /* define se os itens flexíveis são forçados a ficarem na mesma linha */
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}

.sobre .container .sobre-conteudo img {
    max-width: 450px;
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
}

.sobre .container .sobre-conteudo .sobre-texto {
    flex: 1;
    color: var(--corText2);
}

.sobre .container .sobre-conteudo .sobre-texto h3 {
    font-size: 1.8rem;
    margin-bottom: 1.25rem;
    color: var(--corSegundario);
}

.sobre .container .sobre-conteudo .sobre-texto p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
}

.sobre .container .sobre-conteudo .sobre-texto ul {
    list-style: none;
    padding-left: 0;
}

.sobre .container .sobre-conteudo .sobre-texto ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 1.5rem;
    font-weight: 500;
}

.sobre .container .sobre-conteudo .sobre-texto ul li::before {
    content: "✔️";
    position: absolute;
    left: 0;
}

/* Seção Conteudo */
#galeria {
    padding: 3.75rem 1.25rem;
    height: 100vh;
    margin: 10rem auto;
  }
  
  .galeria .container {
    max-width: 75rem;
    margin: 0 auto;
    text-align: center;
  }
  
  .galeria h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 5rem;
    color: #333;
  }
  
  /* Estilo com Flexbox */
  .box-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
  }
  
  /* Imagens com mesmo tamanho */
  .img-container {
    flex: 1 1 17.5rem;
    max-width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  
  /* Efeito ao passar o mouse */
  .img-container:hover img {
    transform: scale(1.05);
  }
  
  