footer {
    background-color: var(--cor-primaria);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
}

.lang {
    display: flex;
    color: white;
    gap: 20px;
    padding: 20px;
}

.lang p {
    padding-bottom: 20px;
}

.footer-paragrafo {
    padding: 20px;
}

@media (max-width: 768px) {
    footer {
        overflow-x: hidden;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
