/* variaveis de cores */
:root {
    --cor-primaria: #0a243e;
    --cor-texto: #333;
    --cor-clara: #f9f9f9;
}

/* reset layout navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: var(--cor-texto)
}

.cabecalho {
    background-color: var(--cor-primaria);
    color: var(--cor-clara);
    padding: 1rem 0;
}

.logo {
    width: 150px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.cabecalho .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu a {
    color: var(--cor-clara);
    text-decoration: none;
}

.banner {
    position: relative;
    color: var(--cor-clara);
    padding: 0;
    overflow: hidden;
    height: 90vh;
    display: flex;
    align-items: center;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

